outdir: '/path/to/out/dir'

# Edit paths to fastq data. This paths can be
# 1. directories with fastq/fastq.gz
# 2. file of file names .fofn 
# 3. fastq/fastq.gz
hifi: '/path/to/hifi/fastq'
ont: '/path/to/ont/fastq'
short: '/path/to/child/ngs/fastq'
paternal_short: '/path/to/paternal/ngs/fastq'
maternal_short: '/path/to/maternal/ngs/fastq'

# "polish_model" neccesary if "polish_ont" specified
path_to_reference: '/path/to/reference/fasta'
sample: 'sample_name'
threshold: 2000
chromosome_count: 24
polish_model: '/path/to/pepper/polish/model/PromethION_r941_guppy305_HAC_human.pkl'

# You can delete correction, or polish rows. This will result in excluding this steps from workflow
# assembly: shasta, verkko or hifiasm
# correction: ratatosk (only)
# polish_ont: pepper (only)
# polish_short: pilon (only)
correction: 'ratatosk'
assembly: 'hifiasm'
polish_ont: 'pepper'
polish_short: 'pilon'

# Edit path to singularity container which pulled with command "sudo singularity build --sandbox assembly_workflow/  library://eamozheiko/containers/assembly_workflow:1.4"
singularity: '/path/to/singularity/container/assembly_workflow'

